<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input [(ngModel)]="username" type="text" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password" required></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="login()">Login</ion-button>

  <p *ngIf="errorMessage">{{ errorMessage }}</p>

  <ion-button expand="full" routerLink="/register">Don't have an account? Register</ion-button>
</ion-content>
