<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>My Cart</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissCart()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Items in the Cart -->
  <ion-list *ngIf="cartItems.length > 0" class="cart-list">
    <ion-item *ngFor="let item of cartItems" class="cart-item">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.image"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>{{ item.price | currency }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Total Price -->
  <ion-item class="total-price">
    <ion-label>
      <h2>Total Price:</h2>
    </ion-label>
    <ion-note slot="end">
      {{ totalPrice | currency }}
    </ion-note>
  </ion-item>

  <!-- Empty Cart Message -->
  <ion-item *ngIf="cartItems.length === 0" class="empty-cart">
    <ion-label>Your cart is empty.</ion-label>
  </ion-item>

  <!-- Checkout Button -->
  <ion-button color ="tertiary" expand="full" class="checkout-button" (click)="checkout()" [disabled]="cartItems.length === 0">Checkout</ion-button>
</ion-content>
