<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Register</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login"> 
        <ion-icon slot="icon-only" name="log-in"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>

<ion-content class="ion-padding">

  <!-- Image en haut -->
  <div class="header-image">
    <ion-img src="assets/img/im2.png"></ion-img>
  </div>

  <!-- Formulaire d'inscription -->
  <div class="register-form">
    <!-- Nom d'utilisateur avec icône -->
    <ion-item class="styled-input">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="username" required></ion-input>
    </ion-item>

    <!-- Mot de passe avec icône -->
    <ion-item class="styled-input">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label position="floating">password</ion-label>
      <ion-input type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>

    <!-- Checkbox Admin avec style personnalisé 
    <ion-item lines="none" class="checkbox-item">
      <ion-label>Compte Administrateur</ion-label>
      <ion-checkbox [(ngModel)]="isAdmin" color="secondary"></ion-checkbox>
    </ion-item>-->

    <!-- Message d'erreur -->
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    <!-- Bouton d'inscription stylisé -->
    <ion-button expand="block" (click)="register()" color="tertiary" shape="round">
      <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      S'inscrire
    </ion-button>
  </div>

</ion-content>
